Repository JobQuest/jobquest-be, pull requests merged in 2021-02, with the labels that each got.

#21 Endpoint - User by Email
  .travis.yml
  api/__init__.py
  api/resources/users.py
  tests/endpoints/users/test_create_user.py
  tests/endpoints/users/test_delete_user.py
  tests/endpoints/users/test_get_all_users.py
  tests/endpoints/users/test_get_one_user.py
  tests/endpoints/users/test_get_user_by_email.py
  tests/endpoints/users/test_patch_user.py
  tests/test_app.py
  tests/test_errors.py
Labels: back end

#24 User quests
  api/__init__.py
  api/database/models.py
  api/resources/user_quests.py
  tests/endpoints/user_quests/__init__.py
  tests/endpoints/user_quests/test_get_quests_for_user.py
Labels: back end, endpoint, enhancement

#28 Change HTTP verb for Users endpoint to POST
  api/resources/users.py
  tests/endpoints/users/test_get_user_by_email.py
Labels: back end, bug, endpoint

#29 Add endpoint to fetch all users
  api/resources/users.py
Labels: back end, endpoint, enhancement
